.page-header-container{
    width: 100vw;
    height: 36px;
    background-color: red;
    line-height: 32px;
    text-align: center;
    position: fixed;
    top: 0;
}

.page-footer-container{
    width: 100vw;
    height: 36px;
    background-color: purple;
    line-height: 32px;
    text-align: center;
    position: fixed;
    bottom: 0;
}